# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Python cache files
__pycache__/

# PyTorch files
*.pt
*.pth

# Other conventional Python files
*.pyc
*.pyo
*.pyd
*.pyc
.Python
env/
venv/
*.venv
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sqlite